# Dados Ausentes e Limpeza de Dados

Nesta se√ß√£o, aprenderemos como limpar os dados, incluindo valores ausentes, valores inv√°lidos e convers√£o de tipos de dados. Vamos come√ßar lidando com os valores ausentes.

## Encontrando Valores Ausentes

Vamos carregar o conjunto de dados da √∫ltima se√ß√£o em que terminamos.

In [2]:
import pandas as pd

url = r"https://github.com/thomasnield/anaconda_python_eda/raw/public/birdstrike_section1.csv"

df = pd.read_csv(url)

with pd.option_context('display.max_columns', None):
  display(df)

/var/folders/r5/1fmf39d96332_2dgz7yjrw5w0000gn/T/ipykernel_42051/292504030.py:5: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

,INDEX_NR,OPID,OPERATOR,AIRCRAFT,AC_CLASS,AC_MASS,NUM_ENGS,TYPE_ENG,INCIDENT_DATE,INCIDENT_YEAR,INCIDENT_MONTH,TIME_OF_DAY,TIME,AIRPORT_ID,AIRPORT,STATE,RUNWAY,LOCATION,LATITUDE,LONGITUDE,HEIGHT,SPEED,DISTANCE,PHASE_OF_FLIGHT,DAMAGE_LEVEL,STR_RAD,DAM_RAD,STR_WINDSHLD,DAM_WINDSHLD,STR_NOSE,STR_PROP,DAM_PROP,STR_WING_ROT,DAM_WING_ROT,STR_FUSE,DAM_FUSE,STR_LG,DAM_LG,STR_TAIL,DAM_TAIL,STR_LGHTS,DAM_LGHTS,STR_OTHER,EFFECT,SKY,PRECIPITATION,SPECIES_ID,SPECIES,SIZE,WARNED,COST_REPAIRS,COST_OTHER,COST_REPAIRS_INFL_ADJ,COST_OTHER_INFL_ADJ,NR_INJURIES,NR_FATALITIES,INDICATED_DAMAGE
0,708307,BUS,BUSINESS,PA-28,A,1.0,1.0,A,2015-05-22,2015,5,NaN,NaN,KVRB,VERO BEACH MUNICIPAL,FL,4,NaN,27.65556,-80.41794,NaN,NaN,NaN,Approach,M,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,UNKB,Unknown bird,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,1
1,708308,BUS,BUSINESS,BE-1900,A,3.0,2.0,C,2015-06-18,2015,6,NaN,NaN,PAEN,KENAI MUNICIPAL ARPT,AK,NaN,NaN,60.572,-151.24753,NaN,NaN,NaN,Approach,M,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,NaN,NaN,NaN,UNKB,Unknown bird,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,1
2,708309,BUS,BUSINESS,PA-46 MALIBU,A,1.0,1.0,A,2015-09-20,2015,9,NaN,NaN,KDWH,DAVID WAYNE HOOKS MEMORIAL ARPT,TX,NaN,NaN,30.06186,-95.55278,NaN,NaN,NaN,NaN,M,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,UNKB,Unknown bird,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,1
3,708310,DAL,DELTA AIR LINES,B-717-200,A,4.0,2.0,D,2015-11-07,2015,11,NaN,NaN,KSTL,LAMBERT-ST LOUIS INTL,MO,30R,NaN,38.74769,-90.35999,NaN,NaN,2.0,Approach,M,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,NaN,NaN,NaN,UNKB,Unknown bird,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,1
4,708311,BUS,BUSINESS,BE-90 KING,A,2.0,2.0,C,2015-12-17,2015,12,NaN,NaN,KPMP,POMPANO BEACH AIRPARK,FL,15,NaN,26.24714,-80.11106,0.0,NaN,0.0,Landing Roll,M,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,NaN,NaN,NaN,UNKB,Unknown bird,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141064,1516465,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,2024-03-17,2024,3,NaN,07:15,KSEA,SEATTLE-TACOMA INTL,WA,16L,NaN,47.44898,-122.30931,NaN,NaN,0.0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Z6007,American robin,Small,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0
141065,1516467,EJA,NETJETS,CL-601/604,A,3.0,2.0,D,2024-03-17,2024,3,NaN,19:15,KHYI,SAN MARCOS MUNICIPAL ARPT,TX,8,NaN,29.89361,-97.86469,2000.0,160.0,5.0,Approach,N,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,NaN,Some Cloud,NaN,ZT000,Meadowlarks,Small,No,NaN,NaN,NaN,NaN,NaN,NaN,0
141066,1516468,ASA,ALASKA AIRLINES,B-737-800,A,4.0,2.0,D,2024-03-17,2024,3,Day,16:39,KSBA,SANTA BARBARA MUNICIPAL,CA,NaN,NaN,34.42621,-119.84037,30.0,NaN,0.0,Approach,N,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,No Cloud,NaN,ZT002,Western meadowlark,Small,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0
141067,1516469,FDX,FEDEX EXPRESS,B-767-300,A,4.0,2.0,D,2024-03-17,2024,3,Night,21:45,ZGGG,BAIYUN AIRPORT,FN,20L,NaN,23.392436,113.298786,3000.0,180.0,10.0,Approach,N,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,No Cloud,NaN,UNKB,Unknown bird,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0
141068,1516470,ATN,AIR TRANSPORT INTL,B-767-300,A,4.0,2.0,D,2024-03-17,2024,3,NaN,20:00,ZZZZ,UNKNOWN,NaN,NaN,FOUND AT KABE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,NaN,NaN,NaN,UNKB,Unknown bird,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0

As colunas `LATITUDE` e `LONGITUDE` causaram alguns avisos: `DtypeWarning: Columns (18,19) have mixed types.`. Vamos resolver isso mais tarde.

Observe como h√° valores `NaN` e `None` no DataFrame. Esses s√£o valores ausentes, e essas lacunas nos dados ocorrem por diversos motivos, muitas vezes espec√≠ficos do dom√≠nio. √Äs vezes, esses valores ausentes representam um problema s√©rio, como sensores de clima quebrados que precisam ser corrigidos. Para outros projetos, podemos simplesmente remover ou estimar seus valores usando imputa√ß√£o, sem causar muitos problemas.

Mas primeiro, precisamos ver quais partes dos dados est√£o faltando e qu√£o grandes s√£o essas lacunas. Fazemos isso quantificando os valores ausentes. Valores ausentes podem aparecer como `NaN` ou `None`, dependendo de serem num√©ricos ou n√£o. A fun√ß√£o `isnull()` identificar√° ambos.

Vamos primeiro nos lembrar do n√∫mero de linhas e colunas que temos.

In [ ]:
df.shape

Em seguida, vamos chamar `isnull()`, que gerar√° valores `True` e `False` dependendo de o valor estar ausente ou n√£o. Depois, chamamos `sum()` para contar o n√∫mero de valores `True` (j√° que `True` ser√° tratado como `1` e `False` ser√° tratado como `0`).

In [ ]:
df.isnull().sum()

Parece que muitos desses campos est√£o com valores ausentes. Vamos calcular a porcentagem de valores ausentes para cada campo.

In [ ]:
missing_pct = pd.DataFrame({'Missing Values': df.isnull().sum(),
                              'Percentage': df.isnull().sum() / df.shape[0]})

missing_pct.sort_values(by='Percentage', ascending = False, inplace=True)

missing_pct

E o que fazemos aqui? Devemos simplesmente descartar certas colunas porque elas t√™m uma alta propor√ß√£o de valores ausentes? Depende. `NR_INJURIES` e `NR_FATALITIES` t√™m a maior quantidade de valores ausentes, mas talvez eles simplesmente estejam em branco porque n√£o houve les√µes ou fatalidades nas colis√µes com aves. Definitivamente, n√£o queremos excluir essas colunas. Alguns campos s√£o um pouco mais suspeitos em rela√ß√£o aos valores ausentes, como `PHASE_OF_FLIGHT`. N√£o vamos remover nada por enquanto, pois muito de como lidamos com valores ausentes vai depender da tarefa. Vamos olhar os valores a seguir e descobrir seus n√≠veis de medi√ß√£o.

## Vari√°veis Categ√≥ricas e Num√©ricas

Como interpretamos as vari√°veis depende de serem nominais, ordinais, intervalares ou de raz√£o.


| N√≠vel de Medi√ß√£o     | Descri√ß√£o                                                                                   |
|----------------------|---------------------------------------------------------------------------------------------|
| Nominal              | Categorias sem qualquer ordem (exemplo: cachorro, gato, p√°ssaro)                            |
| Ordinal              | Possui uma ordem ou classifica√ß√£o flex√≠vel com intervalos desiguais (exemplo: pontua√ß√£o de um jogo) |
| Intervalo            | Possui uma ordem significativa com intervalos consistentes, mas sem ponto zero (exemplo: data/hora) |
| Raz√£o                | Possui uma ordem significativa, intervalos consistentes e um ponto zero (exemplo: peso corporal, altura) |

Vamos contar o n√∫mero de valores √∫nicos em cada coluna. Usaremos `nunique()`, mas n√£o excluiremos os valores nulos especificando `dropna=False`.

In [ ]:
df.nunique(dropna=False).sort_values()

Todo n√∫mero de 2 d√≠gitos provavelmente √© categ√≥rico. Se houver 2 valores √∫nicos, √© prov√°vel que sejam valores booleanos Verdadeiro/Falso. 3 valores √∫nicos podem ser booleanos, mas com um valor nulo tamb√©m.

Vamos concatenar esses valores √∫nicos para cada coluna, para que possamos ter uma vis√£o r√°pida de como os valores √∫nicos se parecem.

In [ ]:
unique_val_ct = df.nunique(dropna=False).sort_values()

unique_vals = dict()
for col in unique_val_ct.index:
    unique_vals[col] = pd.Series(df[col].unique()).astype(str).str.cat(sep=',')

unique_val_show = pd.DataFrame({
    "COUNT" : unique_val_ct,
    "VALUES" : unique_vals
})

with pd.option_context('display.max_rows', None, 'display.max_colwidth', 60):
    display(unique_val_show)

### Convertendo Colunas Booleanas

Certo... tem muita coisa para analisar aqui. Aqueles valores que cont√™m apenas 0 ou 1 s√£o definitivamente booleanos. Vamos convert√™-los agora mesmo.

In [ ]:
binary_cols = ['DAM_WINDSHLD', 'STR_WINDSHLD', 'STR_NOSE', 'STR_PROP', 'DAM_PROP',
       'STR_WING_ROT', 'DAM_WING_ROT', 'STR_FUSE', 'DAM_FUSE', 'STR_LG',
       'DAM_LG', 'STR_TAIL', 'DAM_TAIL', 'STR_LGHTS', 'DAM_LGHTS',
       'STR_OTHER', 'DAM_RAD', 'STR_RAD', 'INDICATED_DAMAGE']

for col in binary_cols: 
    df[col] = df[col].astype('bool')

with pd.option_context('display.max_columns', None):
  display(df)

Agora as colunas bin√°rias foram convertidas. A coluna `WARNED` √© interessante porque tamb√©m √© bin√°ria, com `Yes` e `No`, mas tamb√©m pode ser `Unknown`. De acordo com a documenta√ß√£o, isso indica se o piloto foi avisado ou n√£o sobre os p√°ssaros √† frente antes do impacto. Vamos contar esses valores.

In [ ]:
df["WARNED"].value_counts()

Ent√£o, h√° muitos "Unknowns". Nossa, se tiv√©ssemos dados sobre os impactos de aves evitados devido ao aviso, essa coluna poderia ser muito mais √∫til para ver se os avisos tiveram algum efeito. Infelizmente, s√≥ estamos recebendo relat√≥rios quando o impacto com p√°ssaros ocorreu, ent√£o h√° um vi√©s de sobreviv√™ncia aqui para fazer tal pergunta.

Vamos simplesmente transformar a coluna `WARNED` em um tipo `boolean` (que permite valores `None`, ao contr√°rio do tipo `bool`, que os trataria como `False`).

In [ ]:
df["WARNED"] = df["WARNED"].map({"Yes": True, "No": False, "Unknown": pd.NA}).astype('boolean')

df["WARNED"].value_counts(dropna=False)

## Convertendo Datas e Hor√°rios

A coluna `INCIDENT_DATE` √© a data (no hor√°rio local) em que o incidente ocorreu. Podemos facilmente converter uma coluna de strings de data que segue um formato t√≠pico usando a fun√ß√£o `to_datetime()` do Pandas.

In [ ]:
pd.to_datetime(df['INCIDENT_DATE'])

Agora, antes de atribuirmos isso de volta ao dataframe, vamos notar que a coluna `TIME` tamb√©m existe. Essa coluna representa o hor√°rio em que o incidente ocorreu no hor√°rio local. √â tentador concatenar as duas colunas, `INCIDENT_DATE` e `TIME`, e transform√°-las em um √∫nico `datetime`, mas h√° valores `nan`, o que √© uma pena. N√£o podemos mesclar as duas colunas de strings quando uma delas cont√©m nulos. 

O que faremos √© converter a coluna `TIME` para o tipo `timedelta` em vez de uma string. No entanto, para tornar nossa limpeza de dados um pouco mais irritante, eu estava enfrentando erros. Aparentemente, h√° valores que s√£o apenas espa√ßos em branco vazios e n√£o nulos. üò°


Como eu descobri isso? Bem, primeiro precisei usar uma express√£o regular na fun√ß√£o `contains()` ([que o Anaconda tamb√©m aborda em um curso](https://learning.anaconda.cloud/regular-expressions-in-python)) para filtrar as strings que n√£o correspondem ao formato hora\:minuto. Depois, fiz uma contagem dos valores desses itens desviantes com `value_count()`.

In [ ]:
not_time_format= ~df["TIME"].fillna(value="", inplace=False).str.contains(r"[0-9]{1,2}[:][0-9]{2}")

df["TIME"][not_time_format].value_counts(dropna=False)

Agora que sei o que estou lidando, posso usar outra express√£o regular na fun√ß√£o `replace()` para transformar os espa√ßos em branco em valores `nan`. Depois, posso adicionar um `:00` para os segundos e, finalmente, converter a coluna `TIME` para um `timedelta`. Note que os `nan`s ser√£o convertidos em `NaT`s, que s√£o os valores em branco do `timedelta`.

In [ ]:
import numpy as np 

# remove os espa√ßos em branco e altera para NaN
df["TIME"] = df["TIME"].replace(r'^\s*$', np.nan, regex=True)

# adiciona segundos
df["TIME"] += ':00'

# converte para timedelta 
df["TIME"] = pd.to_timedelta(df["TIME"])
df["TIME"]

Anaconda also has a course [Data Cleaning with Pandas](https://learning.anaconda.cloud/data-cleaning-with-pandas) that has a dedicated module on date and time conversion.

## Convertendo Dados Num√©ricos

Quando tentei converter as colunas `LATITUDE` e `LONGITUDE` para valores de ponto flutuante em vez de strings, algo estranho estava acontecendo. Eu estava recebendo erros. Vou usar outra express√£o regular para encontrar coisas que n√£o correspondem ao padr√£o num√©rico esperado nas strings.

In [ ]:
bad_latitudes = ~df["LATITUDE"].fillna(value="", inplace=False).str.contains(r"^-?[0-9]+\.[0-9]+$").astype(bool)

df[bad_latitudes]["LATITUDE"].value_counts(dropna=False)

H√° muitos valores ausentes, tudo bem. Mas existem quatro valores estranhamente formatados ou quebrados que n√£o podem ser convertidos em valores de ponto flutuante. Vamos ver a longitude a seguir.

In [ ]:
bad_longitudes = ~df["LONGITUDE"].fillna(value="", inplace=False).str.contains(r"^-?[0-9]+\.[0-9]+$").astype(bool)

df[bad_longitudes]["LONGITUDE"].value_counts(dropna=False)

Situa√ß√£o semelhante. Muitos valores ausentes, mas um valor de longitude com formato estranho. Vamos apenas transform√°-los em valores em branco.

In [ ]:
df.loc[bad_longitudes, "LONGITUDE"] = np.nan 
df.loc[bad_latitudes, "LATITUDE"] = np.nan

Finalmente, agora que removemos esses valores estranhos, podemos convert√™-los em valores de ponto flutuante sem erros.

In [ ]:
df["LATITUDE"] = df["LATITUDE"].astype(float)
df["LONGITUDE"] = df["LONGITUDE"].astype(float)

## Convertendo Dados Categ√≥ricos

√Äs vezes, haver√° colunas em um dataframe que permitem apenas alguns valores. Quando esses valores s√£o strings, torna-se ainda mais importante considerar convert√™-los em um tipo de categoria. Nos bastidores, isso melhorar√° o desempenho do dataframe e eliminar√° redund√¢ncia devido a strings duplicadas.

H√° muitas colunas neste conjunto de dados que parecem ser categ√≥ricas. Vamos nos concentrar em `PHASE_OF_FLIGHT` por enquanto. Esta √© a parte do voo em que ocorreu o impacto com o p√°ssaro. Vamos ver esses valores poss√≠veis.

In [ ]:
df["PHASE_OF_FLIGHT"].unique()

Ok, existem 12 fases de voo mais os valores ausentes `NaN`. Mas h√° algo estranho aqui sobre a categoria `Unknown`, pois precisamos nos perguntar o que diferencia `Unknown` de uma `NaN`? Devemos transformar `Unknown` em `NaN`? Vamos dar uma olhada nas contagens de valores.

In [ ]:
df["PHASE_OF_FLIGHT"].value_counts(dropna=False)

Ok, ent√£o existem apenas dois registros onde `PHASE_OF_FLIGHT` √© `Unknown` e 63.261 s√£o `NaN`. Como h√° t√£o poucos registros, n√£o √© t√£o urgente abord√°-los. Eles certamente s√£o valores discrepantes.

Vamos dar uma olhada nesses dois registros s√≥ por curiosidade.

In [ ]:
df[df["PHASE_OF_FLIGHT"] == "Unknown"]

Humm, estranho. Temos uma colis√£o com gaivotas naquele primeiro registro, ent√£o essa √© uma informa√ß√£o √∫til se estivermos interessados ‚Äã‚Äãem `SPECIES`. A aeronave experimental de propriedade privada com uma ave desconhecida √© um mist√©rio. Vamos manter os dois registros, mas podemos remov√™-los para certas tarefas. No entanto, vamos transformar esses dois valores em `NaN`.

In [ ]:
df.loc[df["PHASE_OF_FLIGHT"] == "Unknown", "PHASE_OF_FLIGHT"] = np.nan

Agora, aqui est√° algo √∫til que podemos fazer. Podemos criar um tipo de categoria personalizado que transformar√° essas strings em um conjunto de categorias de forma eficiente. Basta declarar um `CategoricalDType` e especificar as categorias como uma lista de strings. Em seguida, convertemos essa coluna para esse tipo de categoria personalizado por meio de `astype()`.

In [ ]:
phase_of_flt = pd.CategoricalDtype(categories=['Parked', 'Taxi','Take-off Run', 'Approach', 'Departure', 'Climb', 'En Route',
                                               'Descent', 'Landing Roll', 'Arrival', 'Local'])

df["PHASE_OF_FLIGHT"] = df["PHASE_OF_FLIGHT"].astype(phase_of_flt)

Agora podemos confirmar que o tipo de dado √© de fato esta categoria que criamos.

In [ ]:
df["PHASE_OF_FLIGHT"].dtype

O que tamb√©m pode ser √∫til √© que essas categorias podem ser classificadas com base na ordem que voc√™ definiu. As categorias foram especificadas em uma ordem que segue a sequ√™ncia de est√°gios de um voo (por exemplo, `Parked` ocorre antes de `Taxi`, e `Taxi` ocorre antes de `Take-off Run`, etc.). Quando classificarmos esses valores, veremos isso refletido.

In [ ]:
df["PHASE_OF_FLIGHT"].unique().sort_values()

Vamos salvar nosso trabalho em um CSV para a pr√≥xima se√ß√£o. Observe que as categorias ser√£o salvas como strings para simplificar. Mas sempre podemos convert√™-las em categorias novamente ap√≥s a ingest√£o para manter o `DataFrame` mais eficiente.

In [ ]:
df.to_csv('birdstrike_section2.csv')

## Exerc√≠cio

Obtenha as contagens de valores para `AIRPORT_ID` que n√£o come√ßam com a letra `K`. O array booleano condicional j√° foi preenchido para voc√™. Basta fornecer o c√≥digo entre o ponto de interroga√ß√£o `?`.

In [ ]:
condition = ~df["AIRPORT_ID"].fillna(value="", inplace=False).str.contains(r"^K")

not_k_airports = ?

with pd.option_context('display.max_rows', None):
    display(not_k_airports)

### RESPOSTA A BAIXO

|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
v

In [ ]:
condition = ~df["AIRPORT_ID"].fillna(value="", inplace=False).str.contains(r"^K")

not_k_airports = df[condition]["AIRPORT_ID"].value_counts()

with pd.option_context('display.max_rows', None):
    display(not_k_airports)